@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Sora", sans-serif;
}
:root {
  --main-color: #000;
  --second-color: #fff;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
/* NAVBAR */
.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 25px;
}
.logo {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: var(--main-colorx);
  margin-top: 13px;
}
.navbar {
  margin-top: 13px;
}
.navbar a {
  margin-right: 45px;
  color: var(--text-color);
  font-family: var(--font-isi);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 29px;
}
.btn-cv {
  background-color: var(--main-color);
  color: var(--second-color);
  font-size: 16px;
  padding: 9px 15px;
  font-weight: 500;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.btn-cv:hover {
  background-color: transparent;
  color: var(--main-color);
  border: #000 solid 1.5px;
}
/* SECTION 1 */
.section-1 {
  display: flex;
  padding: 30px 100px;
}
.section-1 .left {
  margin-top: 150px;
}
.section-1 .left h1 {
  color: var(--text-color);
  font-family: var(--font-judul);
  font-size: 50px;
  font-style: normal;
  font-weight: 250;
}
span {
  font-weight: 550;
}
.section-1 .left p {
  color: var(--text-color-secondary);
  font-family: var(--font-isi);
  margin-top: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 350;
  line-height: 29px;
}
/* SECTION 2 */
.container {
  flex: 1;
  text-align: center;
  margin: 0 auto;
  padding: 50px;
  background-color: var(--main-color);
}
.title {
  font-size: 48px;
  margin-bottom: 40px;
  font-weight: 250;
  color: var(--second-color);
}
.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.project {
  /* background-color: #111; */
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  width: calc(33.333% - 20px);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
}
.project:hover {
  transform: scale(1.05);
}
.project img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}
.project h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: var(--second-color);
}
.project p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-color);
}
/* SECTION 3 */
.contact-section {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 50px 80px;
}
.contact-form {
  width: 35%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: column;
}
.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
input,
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
textarea {
  resize: none;
  height: 100px;
}
.btn-submit {
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.social-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 30px;
}
.social-icons a {
  width: 40px;
  height: 40px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  transition: background-color 0.3s ease;
}
.social-icons a:hover {
  background-color: var(--main-color);
  color: var(--second-color);
}
.contact-info {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
}
.contact-info h1 {
  font-size: 36px;
  line-height: 1.2;
}
.contact-info h1 span {
  font-weight: bold;
}
.contact-info p {
  margin-top: 10px;
  font-size: 16px;
  color: #666;
}
.contact-info .email,
.contact-info .phone {
  font-weight: bold;
  color: black;
  margin-top: 20px;
  font-size: 18px;
}
/* Footer Style */
footer {
  background-color: #000;
  padding: 20px 0;
  width: 100%;
}
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: var(--second-color);
}
.footer-left {
  display: flex;
  align-items: center;
}
.footer-left span {
  font-size: 19px;
}
.footer-right {
  text-align: right;
}
.footer-right p {
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
  color: var(--second-color);
}
